@page
@model WeatherModel
@{
    ViewData["Title"] = "Weather page";
}
<h1>Weather</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th>
                City
            </th>
            <th>
                Temperature
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Mexico
            </td>
            <td>
                León
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem)
                @Model.main
            </td>
        </tr>
    </tbody>
</table>

